.Logo{
    background-color: white;
    padding: 8px;
    height: 100%;
    box-sizing: border-box;/* so that the 80% also includes the padding */
    border-radius: 15px;
}

.Logo img{
    height: 100%;
}