.SideDrawer{
    position: fixed; /* because even if we scroll it it should be there */
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200; /* TODO// Check this Above the backdrop because otherwise it will be hard to use it */
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box; /* To adjust the size to the padding */
    transition: transform 0.3s ease-out; /* To react to changes to the "transform" property */ 
}

@media (min-width: 500px){ /* What should happen to bigger devices */
    .SideDrawer{
        display: none; /* We will not see the drawer on big devices */
    }
}

.Open { /* they will be attached conditionally and will be responsible for the animation */
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.Logo {
    height: 11%;
    margin-bottom: 32px;
}